header {
  background-color: rgb(120, 183, 241);
}

/* .header {
  grid-area: header;
} */

.name {
  font-family: "Calistoga", cursive;
  font-weight: bolder;
  font-size: 2em;
  color: white;
  text-align: center;
  margin: 0;
  padding: 15px;
}
.who {
  font-family: "Calistoga", cursive;
  font-weight: bolder;
  font-size: 1, 5em;
  color: white;
  text-align: center;
  margin-top: -30px;
}
section {
  width: 50%;
  float: left;
}
summary {
  width: 50%;
  float: right;
}
.bio-image {
  margin: 0px 20px 3px 0px;
  width: 170px;
  height: 180px;
  float: left;
}

footer {
  background-color: rgb(120, 183, 241);
  color: white;
  text-align: center;
  align-content: center;
  padding: 5px;
  font-size: 18px;
  clear: both;
  font-family: "Calistoga", cursive;
}

/*Sticky footer----------------------------------*/
body {
  margin: 0;
  height: 100%;
}

article {
  min-height: calc(90vh - 10px);
}

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
}

/* End Sticky footer-----------------------------*/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
