header {
  background-color: rgb(120, 183, 241);
}

body {
  background-image: url(../Images/blue-snow.png);
}
h3 {
  font-family: "Calistoga", cursive;
  color: rgb(120, 183, 241);
  text-align: center;
  letter-spacing: 5px;
  border-bottom: 2px solid rgb(120, 183, 241);
  margin: 0px 26px 0px 22px;
  padding-top: 1%;
}

.name {
  font-family: "Calistoga", cursive;
  font-weight: bolder;
  font-size: 2em;
  color: white;
  text-align: center;
  margin: 0;
  padding: 15px;
  letter-spacing: 5px;
}
.who {
  font-family: "Calistoga", cursive;
  font-weight: bolder;
  font-size: 1, 5em;
  color: white;
  text-align: center;
  margin-top: -30px;
}
section {
  width: 48%;
  float: left;
  margin-left: 2%;
  background-color: white;
  margin-top: 5%;
  border: 1px solid rgb(120, 183, 241);
}
summary {
  width: 48%;
  float: right;
  margin-left: 2%;
  background-color: white;
  margin-top: 5%;
  border: 1px solid rgb(120, 183, 241);
}
.bio-image {
  margin: 0px 20px 3px 0px;
  width: 170px;
  height: 180px;
  float: left;
  padding-left: 4%;
}
a {
  padding-left: 30%;
}

p {
  padding-right: 2%;
}

footer {
  background-color: rgb(120, 183, 241);
  color: white;
  text-align: center;
  align-content: center;
  padding: 5px;
  font-size: 18px;
  clear: both;
  font-family: "Calistoga", cursive;
}

/*Sticky footer----------------------------------*/
body {
  margin: 0;
  height: 100%;
}

article {
  min-height: calc(90vh - 10px);
}

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
}

/* End Sticky footer-----------------------------*/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
